<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Portfolio
    body
        header.headerContainer
            .logo   
                img.logo(src=require('./images/logos.png') alt='logo')
            nav(role="navigation")
                label.toggleButton(for="menuCheckbox" onclick)&attributes({'data-open': 'Menu'},{'data-close': 'Close'})
                ul.mainMenu 
                    li
                        a(href="#") 
                    li
                        a(href="#")
                    li
                        a(href="#")
                    li
                        a(href="#")
                    li
                        a(href="#")
                    li
                        a(href="#")

        
            
        