<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Portfolio
    body
        header.headerContainer
            .logo 
                img.logo(src=require('./images/logos.png') alt='logo')
            h2 WAXOM
            nav(role="navigation")
                label.toggleButton(for="menuCheckbox" onclick)&attributes({'data-open': 'Menu'},{'data-close': 'Close'})
                ul.mainMenu
                    li
                        a(href="#") Home
                    li
                        a(href="#") About Us
                    li
                        a(href="#") Portfolio
                    li
                        a(href="#") Features
                    li
                        a(href="#") Blog
                    li
                        a(href="#") Pricing
                    li
                        a(href="#") Shortcodes
                    li
                        a(href="#") Contact
                button.calendar calendar
                button.search search
            h2 Unique and Modern Design
            h1 Portfolio PSD Template
            h3 Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
            button.start GET STARTED
            
        